{% extends 'base.html' %}
{% load widget_tweaks %}
{% block container %}
<ol class="breadcrumb">
  <li><a href="/"></a></li>
  <li><a href="/companies/">Companies</a></li>
  <li class="active">Create New Company</li>
</ol>
<div class="page-header">
  <h1>Add Company</h1>
</div>

<a href="/nunya/nacccusers/nacccuser/add/" class="btn btn-primary">Add New Dispatcher</a>

<form action="" method="post">{% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label for="{{field.name}}">{{field.label}}</label>
            {{field|add_class:"form-control"}}
         </div>

    {% endfor %}
    <input type="submit" value="Create Company" class="btn btn-default"/>
</form>

{% endblock %}
