{% extends 'base2.html' %}
{% load staticfiles %}
{% block container %}
	
	<section>
	      <div class="container">
	        <div class="row align-items-center">
	          <div class="col-lg-6 order-lg-2">
	            <div class="p-5">
	              <img class="img-fluid rounded-circle" src="{{STATIC_URL}}img/0502.jpg" alt="">
	            </div>
	          </div>
	          <div class="col-lg-6 order-lg-1">
	            <div class="p-5">
	              <h3>Thurs, October 4</h3>
	              <p>Art Show </br>
				   (If you have any art to be featured, email <a class="btn-primary" href="mailto:jess.craine@naccc2018.com">Jess Craine</a>)
				  
	            
	              <h3>Friday, October 5</h3>
	              <p>
	              	Registration / Packet Pickup at Transport Cycles : All day</p>
					 
				   <P>Alleycat Presented by <strong>FWOD Philly</strong>. </br>
				   (For more info, follow <a class="btn-primary" href="https://www.instagram.com/fwod_philly/">fwod_philly</a> on Instagram.) </P>
				   
				   <p>Welcome to Town Group Ride</p>
				   
			   	   <p>Opening Party at Transport Cycles</p>
				   
				   <p>Out of Towner Race</P>
					   
				   <p><strong>SHARKFIN</strong> Presents : An After Hours Tour</p>
					
	              </p>
				   </div>
	        </div>
	      </div>
	    </section>
		
		<section>
		      <div class="container">
		        <div class="row align-items-center">
		          <div class="col-lg-6">
		            <div class="p-5">
		              <img class="img-fluid rounded-circle" src="{{STATIC_URL}}img/210.jpg" alt="">
		            </div>
		          </div>
		          <div class="col-lg-6">
		            <div class="p-5">
		              <h3>Saturday, October 6</h3>
		              <p>Championship Qualifiers </p>
					  
					  <p>Open Forum </p>
					  
					  <p>Second Chance Scramble</p>
					  
					  <p>Saturday Night Rager</p>
						  
		              <h3>Sunday, October 7</h3>
		              <p>Championshp Finals</p>
					  <p>Side Events </p>
					  <p>*BMA Forum<p>
					  
					  <p>Awards Ceremony</p>
					  
					  
					  
					  
					  
		            </div>
		          </div>
		        </div>
		      </div>
		    </section>
			
			
			<section>
			      <div class="container">
			        <div class="row align-items-center">
			          <div class="col-lg-6 order-lg-2">
			            <div class="p-5">
			              <img class="img-fluid rounded-circle" src="{{STATIC_URL}}img/166.jpg" alt="">
			            </div>
			          </div>
			          <div class="col-lg-6 order-lg-1">
			            <div class="p-5">
			              <h4>Monday, October 8</h4>
					  <p>Morning After Brunch</p>
				  	<p><strong>TwinJet LLC</strong> Presents : Industry Forum </p>
					  </div>
			        </div>
			      </div>
			    </section>

{% endblock %}