{% extends 'base2.html' %}
{% load staticfiles %}
{% block container %}
	
	<section>
	      <div class="container">
	        <div class="row align-items-center">
	          <div class="col-lg-6 order-lg-2">
	            <div class="p-5">
	              <img class="img-fluid rounded-circle" src="{{STATIC_URL}}img/0502.jpg" alt="">
	            </div>
	          </div>
	          <div class="col-lg-6 order-lg-1">
	            <div class="p-5">
	              <h3>Thurs, October 4</h3>
				  <dt><li>Time Trial</li></dt>
				  <dd>15:00 - <a  class="btn-primary" href="https://goo.gl/maps/kC1UmFFzJp52">FDR Park</a></dd>
	              <dt><li>Art Show</li><dt>
				  <dd>18:00 - <a  class="btn-primary" href="https://goo.gl/maps/Mk3N1kqe1dx">Tattooed Mom</a>
				   <p>(If you have any art to be featured, email <a class="btn-primary" href="mailto:jess.craine@naccc2018.com">Jess Craine)</a></p>
				  </dd>
	            
	              <h3>Friday, October 5</h3>
	              <dt><li>Registration / Packet Pickup</li> </dt>
				  <dd>13:00 to 20:30 at <a class="btn-primary" href="https://goo.gl/maps/eNMHPymQELU2">Transport Cycles</a></dd>
					 
				   <dt><li>Alleycat Presented by <strong>FWOD Philly</strong></li></dt>
				   <dd>For women, and non binary folks only. All ages/all skill levels/all bikes welcome. No gender essentialism, transphobia, racism, sexism, or policing in general. </dd>
				   <dd><strong>Winner automatically qualifies for Championship Finals!</strong></dd>
				   <dd>12:00 meetup - <a class="btn-primary" href="https://goo.gl/maps/4sY2MMkq49H2">Rittenhouse Square</a> (fountain inside the park), 13:00 start.
				   (For more info, follow <a class="btn-primary" href="https://www.instagram.com/fwod_philly/">fwod_philly</a> on Instagram.)
				   </dd> 
				   
				   
				   <dt><li>Welcome to Town Group Ride</li></dt>
				   <dd>17:00 - <a class="btn-primary" href="https://goo.gl/maps/cSNkq6GF8Jr">Clark Park</a> inside the dog bowl. We'll take you around town and finish at the party.</dd>
				   
			   	   <dt><li>Opening Party</li></dt>
				   <dd>19:00 to 22:00 at <a class="btn-primary" href="https://goo.gl/maps/eNMHPymQELU2">Transport Cycles</a></dd>
				   
				   <dt><li>Out of Towner Alleycat and Party presented by <strong>SHARKFIN BC</strong></li></dt>
				   <dd>20:30 starting at <a class="btn-primary" href="https://goo.gl/maps/eNMHPymQELU2">Transport Cycles</a>.</dd>
				   <dd>22:00 til you drop - undisclosed location. Finish the Out of Towner Alleycat or follow a local there.</dd>
				   
				   </div>
	        </div>
	      </div>
	    </section>
		
		<section>
		      <div class="container">
		        <div class="row align-items-center">
		          <div class="col-lg-6">
		            <div class="p-5">
		              <img class="img-fluid rounded-circle" src="{{STATIC_URL}}img/210.jpg" alt="">
		            </div>
		          </div>
		          <div class="col-lg-6">
		            <div class="p-5">
		              <h3>Saturday, October 6</h3>
					  <h4>Championship Qualifiers - <a class="btn-primary" href="https://goo.gl/maps/2EsAAgg1oyC2">Lemon Hill</a></h4>
					  <dd>
					  <li>08:30 - VIP Only Amateur Category</li> 
					  <li>09:00 to 10:00 - Course Recon</li>
					  <li>10:00 to 15:00 - Qualifiers</li> 
					  <li>13:00 - Cargo Race</li>
					  <li>15:00 - Open Forum </li>
				 	 </dd>
					  
					  <h4>Second Chance Scramble</h4>
					  <dd>20:00 - <a class="btn-primary" href="https://goo.gl/maps/2EsAAgg1oyC2">Logan Square Fountain</a>
					  
					  <br/><strong>Top finishers advance to Championship Finals!</strong></dd>
					  
					  <dt><li>Saturday Night Rager</li></dt>
					  <dd>20:00 til you drop - undisclosed location. Survive The Scramble or follow a local there.</dd>
						  
		              <h3>Sunday, October 7</h3>
		              <h4>Championship Qualifiers</h4>
					  <dd>
						  <li>08:30 - VIP Only Amateur Finals</li> 
	  					  <li>9:00 to 9:30 - All Finalists Must Report to Race HQ</li>
	  					  <li>10:00 - Championship Finals</li>
	  					  <li>13:30 - Side Events</li>
	  					  <li>15:30 - *BMA Forum</li>
				 	  </dd>
					  <h4>Awards Ceremony</h4>
					  <dd>20:00 - <a class="btn-primary" href="https://goo.gl/maps/KU3eSrgUku12">2300 Arena</a></dd>
						  
		            </div>
		          </div>
		        </div>
		      </div>
		    </section>
			
			
			<section>
			      <div class="container">
			        <div class="row align-items-center">
			          <div class="col-lg-6 order-lg-2">
			            <div class="p-5">
			              <img class="img-fluid rounded-circle" src="{{STATIC_URL}}img/166.jpg" alt="">
			            </div>
			          </div>
			          <div class="col-lg-6 order-lg-1">
			            <div class="p-5">
			              <h4>Monday, October 8</h4>
					  		<dt><li>Industry Forum presented by <strong>TwinJet LLC</strong>.</li></dt>
							<dd>14:00 - <a class="btn-primary" href="https://goo.gl/maps/rhTFPyQexJH2">The Last Drop</a>. Follow Dave Yoha there.</dd>
							
					  		<dt><li>Last Ones In Town Karoke</li></dt>
							<dd>21:00 - Location TBA, stay tuned.</dd>
							
				 	 	
					  </div>
			        </div>
			      </div>
			    </section>

{% endblock %}