{% extends "email_template.html" %}

{% block email_text %}
                            <p>If you're reading this, it looks like you filled out the registration form but never followed through with your payment. </p>

<p><strong>This is your last chance  </strong>to finish your registration at the discounted rate. On June 1, the price rises to $65.00 and will only continue to go up the longer that you wait.  </p>

<p><strong>Just click the button below to make your payment  </strong>and get on with your day.  </p>

{% endblock %}