{% extends 'base2.html' %}
{% load staticfiles %}
{% block container %}
	
	<section>
	      <div class="container">
	        <div class="row align-items-center">
	          <div class="col-lg-6 order-lg-2">
	            <div class="p-5">
	              <img class="img-fluid rounded-circle" src="{{STATIC_URL}}img/282.jpg" alt="">
	            </div>
	          </div>
	          <div class="col-lg-6 order-lg-1">
	            <div class="p-5">
	              <h4>What Exactly is The NACCC?</h4>
	              <p>The North American Cycling Courier Championships have been held every year for over twenty years to answer the age-old question: Who is the best bike messenger? To Find out, couriers from all over North America (and beyond) will gather in Philadelphia to race on a closed course designed by their peers.</p>
	            
	              <p>The race is designed to simulate a courier's typical workday, which requires the racers to juggle everyday obstacles, stress, deadlines, and accuracy in order to come out on top. After the first day of racing, the racers are narrowed down to the top finalists who compete for a second consecutive day to determine who will emerge victorious.</p>
				  
				   <p>But the NACCC is so much more than just competition. It's the time of year where old friends come together, new ones are made, stories are swapped, and everyone is able to share what's going on in the industry where they live. In a nutshell, it's our family reunion.</p>
				   
	            </div>
	        </div>
	      </div>
	    </section>
{% endblock %}













