{% extends 'base.html' %}
{% load widget_tweaks %}
{% block container %}
<ol class="breadcrumb">
  <li><a href="/">NACCC PHL NACCC</a></li>
  <li><a href="/races/">Races</a></li>
   <li><a href="/races/manifests/">Manifests</a></li>
  <li class="active">Create New Manifest</li>
</ol>
<div class="page-header">
  <h1>Add Manifest <small>NACCC PHL NACCC</small></h1>
</div>

<form action="" method="post">{% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label for="{{field.name}}">{{field.label}}</label>
            {{field|add_class:"form-control"}}
         </div>
        
    {% endfor %}
    <input type="submit" value="Create Manifest" class="btn btn-default"/>
</form>

{% endblock %}