{% extends 'base.html' %}
{% block container %}
<ol class="breadcrumb">
  <li><a href="/"></a></li>
  <li><a href="/checkpoints/">Checkpoints</a></li>
  <li><a href="/checkpoints/details/{{object.id}}/">{{object}}</a></li>
  <li class="active">Delete {{object}}</li>
</ol>
<div class="page-header">
  <h1>Delete {{object.checkpoint_name}} <small></small></h1>
</div>

<form action="" method="post">{% csrf_token %}
    <p>
    <a href="/checkpoints/details/{{object.id}}/" class ="btn btn-default">Cancel</a>
    <input type="submit" value="Yes, delete {{object}}" class="btn btn-danger"/>
    </p>
</form>

{% endblock %}