{% extends 'base.html' %}
{% block container %}
<ol class="breadcrumb">
  <li><a href="/">NACCC 2016</a></li>
  <li class="active">Checkpoints</li>
</ol>
<div class="page-header">
  <h1>Checkpoints <small>NACCC 2016</small></h1>
</div>

<p><a href="/checkpoints/create/" class="btn btn-success">Add New Checkpoint</a></p>

<div class="table-responsive">
<table class="table table-striped">
  <tr>
      <th>Number</th>
      <th>Name</th>
	  <th>Mobile Checkpoint Link</th>
  </tr>
      {% for checkpoint in checkpoints %}
          <tr>
              <td><a href="/checkpoints/details/{{checkpoint.id}}/">{{checkpoint.checkpoint_number}}</td>
              <td>{{checkpoint.checkpoint_name}}</td>
			  <td><a href="{% url "mobile_checkpoint" pk=checkpoint.id %}">Mobile Checkpoint</a></td>
           </tr>
      {% empty %}
      <tr>
          <td colspan="7">No Checkpoints yet. <a href = "/checkpoints/create/">Make one!</a></td>
       </tr>
      {% endfor %}
</table>
</div>

{% endblock %}