{% extends 'base.html' %}
{% block container %}
<ol class="breadcrumb">
  <li><a href="/">NACCC PHL NACCC</a></li>
  <li class="active">Race Control</li>
</ol>
<div class="page-header">
  <h1>Race Control <small>NACCC PHL NACCC</small></h1>
</div>

	<h3><a href="/dispatch/controls">Dispatch Controls</a></h3>
		<h3><a href="/dispatch/">Dispatch Console</a></h3>
		<h3><a href="{% url 'assign-radios' %}" >Assign Radios</a></h3>
			<h3><a href="/dispatch/start_racer/">Start Racer</a></h3>
			<h3><a href="/raceentries/cuts/">Manage Eliminations</a></h3>

<h2>Select a race</h2>
<div class="table-responsive">
<table class="table table-striped">
	
  <tr>
      <th>Race Name</th>
  </tr>
      {% for race in races %}
          <tr>
              <td><a href="/racecontrol/race/{{race.id}}/">{{race.race_name}}</td>
           </tr>
      {% empty %}
      <tr>
          <td colspan="1">No Races</td>
       </tr>
      {% endfor %}
</table>
</div>

{% endblock %}