<div class="row">
  <div class="col-md-4">
  <h1>Race Control Status</h1>
  <h2>{{current_race.race_name}} is the currently active race.</h2>
  {% if current_race.pk != race.pk %}
  <h3 class="text-danger">This setting is incorrect. This race needs to be the current race in order for the checkpoints mobile app to work.</h3>
  <button class="btn btn-danger" id="change-current-race-button">Change Current Race</button>
  {% endif %}
  </div>
  <div class="col-md-4">
  {% if start_time_set %}
  <h2 class="text-success">Start time is set at {{race_start_date}} {{race_start_time}} (EST)</h2>
  {% else %}
  <h2 class="text-danger">Start Time Not Set</h2>
  {% endif %}
  <p><input class="form-control" type="date" id="race-start-datetime-date" value="{{race_start_date}}"></p>
  <p><input class="form-control" type="time" id="race-start-datetime-time" value="{{race_start_time}}"></p>
  <p><button class="btn btn-primary" id="set-race-start-time-button">Set Start Time</button>
  </div>
  <div class="col-md-4">

  </div>
</div>
