{% extends 'base.html' %}
{% block container %}
<ol class="breadcrumb">
  <li><a href="/">NACCC PHL NACCC</a></li>
  <li><a href="/raceentries/">Race Entries</a></li>
</ol>
<div class="page-header">
  <h1>Manage Eliminations <small>NACCC PHL NACCC</small></h1>
</div>
<div>
    
</div>
<div class="row">

 
      <form method="POST" action="/raceentries/enter/" id="remove-form">
      {% csrf_token %}
	  	<input type="hidden" name="race-id" value="{{race.id}}">
	  <button type="submit" class="btn btn-default btn-danger" name="remove-racers">Remove Racer(s) in Race</button>
	  </form>
      
	  <div class="col-md-6">
	  	  <h3 class="text-success">{{ men|length }} Men in {{race}}</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
				<th>Place</td>
                <th>Racer Number</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Gender</th>
				<th>Category</th>
				<th>Score</th>
				
            </tr>
            {% for entry in men %}
            <tr {% if entry.cut %} class="table danger" {% endif %}>
				<td>{{ forloop.counter }}</td>
                <td><a href="/nunya/raceentries/raceentry/{{entry.id}}">{{entry.racer.racer_number}}</a></td>
                <td>{{entry.racer.last_name}}</td>
                <td>{{entry.racer.first_name}}</td>
                <td>{{entry.racer.gender}}</td>
				<td>{{entry.racer.category_as_string_short}}</td>
				<td>{{entry.score}}</td>

            </tr> 
          {% endfor %}
          </table>
   	  	</div> 
      </div>
	  
	  <div class="col-md-6">
	  	  <h3 class="text-success">{{ wtf|length }} WTF in {{race}}</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
				<th>Place</td>
                <th>Racer Number</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Gender</th>
				<th>Category</th>
				<th>Score</th>
				
            </tr>
            {% for entry in wtf %}
            <tr {% if entry.cut %} class="table danger" {% endif %}>
                <td>{{ forloop.counter }}</td>
				<td><a href="/nunya/raceentries/raceentry/{{entry.id}}">{{entry.racer.racer_number}}</a></td>
                <td>{{entry.racer.last_name}}</td>
                <td>{{entry.racer.first_name}}</td>
                <td>{{entry.racer.gender}}</td>
				<td>{{entry.racer.category_as_string_short}}</td>
				<td>{{entry.score}}</td>

            </tr>
			
            {% endfor %}
          </table>
        </div>  
      </div>
	 
  </div>
</div>

{% endblock %}
{% block javascript_imports %}
<script type="text/javascript">
$(document).ready(function() {
    
    $('#remove-form').submit(function() {
        var check = confirm("Are you sure you want to remove these racers from the race? If you remove a racer who has already been started in the event; that information will be lost forever");
        if (check) {
            return true;
        }
        return false;
    })
    
    function updateNotInRaceCheckboxes(checked) {
        $('.not-in-race-checkboxes').each(function() {
            this.checked = checked; 
        });
    }
    
    function updateEnteredInRaceCheckboxes(checked) {
        $('.entered-in-race-checkboxes').each(function() {
            this.checked = checked; 
        });
    }
    
    $('#select-all-not-entered').click(function() {
        updateNotInRaceCheckboxes(this.checked);
    });
    
    $('#select-all-entered').click(function() {
        updateEnteredInRaceCheckboxes(this.checked);
    });
});
</script>

{% endblock %}