{% extends 'base2.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block container %}

	
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Payment Error!</h2>
              <p>Something went wrong. If this keeps happening, this might be our bad. Email <a class="btn-primary" href="mailto:matt@1-800-rad-dude.com">matt@1-800-rad-dude.com</a> and complain about it if you can't get it working. </p>
			  
            </div>
			
          </div>
        </div>
      </div>
    </section>

    {% block javascript_imports %}
	{% endblock %}
{% endblock %}













