{% extends 'base.html' %}
{% block container %}
<div class="page-header">
  <h1>Racers <small>NACCC PHL NACCC</small></h1>
</div>

<div class="row">
	<legend>{{racers|length}} racers</legend>
	<div class="col-md-4">
		<P>Men : 
		{{total_men}}
		</p>

		<P>Women : 
		{{total_women}}
		</p>

		<P>Trans : 
		{{total_trans}}
		</p>
	</div>
	
	<div class="col-md-4">

		<P>Working Messengers : 
		{{total_mess}}
		</p>

		<P>Non Messengers : 
		{{total_non}}
		</p>

		<P>Ex-Messengers : 
		{{total_ex}}
		</p>
		
	</div>
	
	<div class="col-md-4">
		<P>S
		{{total_s}}
		</p>

		<P>M : 
		{{total_m}}
		</p>

		<P>L: 
		{{total_l}}
		</p>

		<P>XL : 
		{{total_xl}}
		</p>
	</div>
</div>

<p><a href="/racers/create/" class="btn btn-success">Add New Racer</a></p>



<div class="table-responsive">
<table class="table table-striped">
  <tr>
      <th>Racer Number</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Nick</th>
	  <th>email</th>
      <th>Sex</th>
      <th>City</th>
      <th>Team</th>
      <th>Category</th>
	  <th>Shirt Size</th>
	  <th>Paid?</th>
      <th>Actions</th>
  </tr>
      {% for racer in racers %}
          <tr>
              <td><a href = "/racers/details/{{racer.pk}}">{{racer.racer_number}}</a></td>
              <td>{{racer.last_name}}</td>
              <td>{{racer.first_name}}</td>
              <td>{{racer.nick_name}}</td>
			  <td>{{racer.email}}</td>
              <td>{{racer.gender}}</td>
              <td>{{racer.city}}</td>	
              <td>{{racer.team}}</td>
              <td>{{racer.category_as_string}}</td>
			  <td>{{racer.shirt_size}}</td>
			  <td>{% if racer.paid %}<span id="paid{{racer.pk}}" class="success">paid</span>{% else %} <span id="paid{{racer.pk}}" class="danger">NOT PAID</span> {% endif %}</td>
              <td>
				  <a href="/racers/update/{{racer.pk}}/" class="btn btn-default btn-xs btn-info">Edit</a>
				  <a href="/racers/delete/{{racer.pk}}/" class="btn btn-default btn-xs btn-danger">Delete</a>
			  	{% if not racer.paid %}<button value="{{racer.pk}}" class="btn btn-defaul btn-xs btn-success paid">Paid</button>{% endif %}
			  </td>
				  
           </tr>
      {% empty %}
      <tr>
          <td colspan="7">No racers entered</td>
       </tr>
      {% endfor %}
</table>
</div>

{% endblock %}

{% block javascript_imports %}
	{% load staticfiles %}
	<script src="{% static "js/racer.js" %}"></script>
{% endblock %}