{% extends 'base.html' %}
{% block container %}
<div class="page-header">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <h1>Racers <small></small></h1>
</div>

<div class="row">
	<legend>{{racers|length}} racers
	</legend>


	<div class="col-md-4">
		<P>Men :
		{{total_men}}
		</p>

		<p>WTF
		{{total_wtf}}
		</p>

		<P>Women :
		{{total_women}}
		</p>

		<P>Trans :
		{{total_trans}}
		</p>
	</div>


	<div class="col-md-4">

		<P>Working Messengers :
		{{total_mess}}
		</p>

		<P>Non Messengers :
		{{total_non}}
		</p>

		<P>Ex-Messengers :
		{{total_ex}}
		</p>

	</div>
</div>

<p><a href="/racers/create/" class="btn btn-success">Add New Racer</a></p>


<div class="table-responsive">
<table id="racer_table" class="table table-striped">
	<thead>
  <tr>
      <th>Racer Number</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Nickname</th>
	  <th>Company</th>
      <th>Gender</th>
      <th>Category</th>
      <th>Actions</th>
  </tr>
</thead>
<tbody>
      {% for racer in racers %}

          <tr>
              <td><a href = "/racers/details/{{racer.pk}}">{{racer.racer_number}}</a></td>
              <td>{{racer.last_name}}</td>
              <td>{{racer.first_name}}</td>
              <td>{{racer.nick_name}}</td>
			  <td>{{racer.company}}</td>
              <td>{{racer.gender}}</td>
              <td>{{racer.category_as_string}}</td>
			  <td>
				  <a href="/racers/update/{{racer.pk}}/" class="btn btn-default btn-xs btn-info">Edit</a>
			  </td>

           </tr>
      {% empty %}
      <tr>
          <td colspan="7">No racers entered</td>
       </tr>
      {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}

{% block javascript_imports %}
	{% load staticfiles %}


	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="{% static 'js/racer.js' %}"></script>
{% endblock %}
