{% extends 'base.html' %}
{% block container %}
<div class="page-header">
  <h1>Racers <small>NACCC 2016</small></h1>
</div>

<h3>{{racers|length}} racers</h3>
<p><a href="/racers/create/" class="btn btn-success">Add New Racer</a></p>

<div class="table-responsive">
<table class="table table-striped">
  <tr>
      <th>Racer Number</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Nick</th>
      <th>Sex</th>
      <th>City</th>
      <th>Team</th>
      <th>Category</th>
      <th>Actions</th>
  </tr>
      {% for racer in racers %}
          <tr>
              <td><a href = "/racers/details/{{racer.pk}}">{{racer.racer_number}}</a></td>
              <td>{{racer.last_name}}</td>
              <td>{{racer.first_name}}</td>
              <td>{{racer.nick_name}}</td>
              <td>{{racer.gender}}</td>
              <td>{{racer.city}}</td>
              <td>{{racer.team}}</td>
              <td>{{racer.category_as_string}}</td>
              <td><a href="/racers/delete/{{racer.pk}}/" class="btn btn-default btn-xs btn-danger">Delete</a></td>
           </tr>
      {% empty %}
      <tr>
          <td colspan="7">No racers entered</td>
       </tr>
      {% endfor %}
</table>
</div>

{% endblock %}