{% extends "base2.html" %}
{% load staticfiles %}
{% load i18n %}
{% block container %}

<div>
	<br/>
	<h1>Now we just need you to settle up.</h1>
	
	<p>Currently, pre-reg is ${{registration_price}} USD. This gets you entry to the race, parties, side events, as well as your registration swag. </p>
	
	<h3>Make sure to follow Paypal back to our site for your confirmation! </h3>
     {{ form.render }}
 </br></br>
</div>
 
    {% block javascript_imports %}
    {% endblock %}
{% endblock %}













