{% extends 'base.html' %}
{% block container %}
<div class="page-header">
  <h1>Racer Detail <small>NACCC PHL NACCC</small></h1>
  	<p><a href="/racers/update/{{object.id}}/" class="btn btn-default">Edit Racer</a>
  	   <a href="/racerphoto?racer_number={{racer.racer_number}}" class="btn btn-default" role="button">Take Racer photo</a> 
   		<a href="/racers/">Racers </a>
	</p></p>
  
</div>


<div>
    <img src={{racer.racer_image}}>
    <dl>
		<h2> {{object.display_name}}</h2>
      <dt>Racer Number</dt>
      <dd>{{object.racer_number}}</dd>
      <dt>Gender</dt>
      <dd>{{object.gender}}</dd>
      <dt>Category</dt>
      <dd>{{object.category_as_string}}</dd>
      <dt>City</dt>
      <dd>{{object.city}}</dd>
    </dl>   
</div> 

{% endblock %}