{% extends 'base.html' %}
{% block container %}
<div class="page-header">
    <a href="/racers/">Back to Racers</a>
  <h1>Racer Detail <small></small></h1>
  	<p><a href="/racers/update/{{object.id}}/" class="btn btn-default">Edit Racer</a>
	</p>

</div>
<h2> {{object.display_name}}</h2>
<div class="col-md-6">
    <img src={{racer.racer_image}}>
    <dl>

      <dt>Racer Number</dt>
      <dd>{{object.racer_number}}</dd>

      <dt>Company</dt>
      <dd>{{object.company}}</dd>

      <dt>Gender</dt>
      <dd>{{object.gender}}</dd>

      <dt>Category</dt>
      <dd>{{object.category_as_string}}</dd>

    </dl>
</div>




{% endblock %}
