{% extends 'base2.html' %}
{% load widget_tweaks %}
{% block container %}

<div class="row">
		
	<div class="col-md-12">
	<h1>REGISTER</h1>
	
	<h3>Pre-registration is closed. Registration in person will be available at <a class="btn-primary" href="https://goo.gl/maps/eNMHPymQELU2">Transport Cycles</a> on Friday.</h3>

</div>

    {% block javascript_imports %}
	<script language="javascript">
	var $options = $('#id_racer_number').find('option'),
	    random = ~~(Math.random() * $options.length);

	$options.eq(random).prop('selected', true);
	</script>
	
	{% endblock %}
{% endblock %}












