{% extends 'base2.html' %}
{% load widget_tweaks %}
{% block container %}

<div class="row">
		
	<div class="col-md-12">
	<h1>REGISTER</h1>
	
	<p>Currently, pre-reg is ${{registration_price}}. </p>
	 
	<form action="" method="post" enctype="multipart/form-data">
	    {% include "register_racer_form.html" %}
		</br>
	   	 	<input class="btn btn-primary" type="submit" name="save" value="Submit" />
			</br>
			</br>
   	</div>
	</form>

	
</div>

    {% block javascript_imports %}
	<script language="javascript">
	var $options = $('#id_racer_number').find('option'),
	    random = ~~(Math.random() * $options.length);

	$options.eq(random).prop('selected', true);
	</script>
	
	{% endblock %}
{% endblock %}












