{% extends 'base2.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block container %}

	
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Payment Complete!</h2>
              <p>Thanks, we got you down. We'll see you on the street.</p>
			  <a href="/racers/registered/" class="btn btn-primary btn-xl rounded-pill mt-5">See Who Else is Coming </a>
            </div>
			
          </div>
        </div>
      </div>
    </section>

    {% block javascript_imports %}
	{% endblock %}
{% endblock %}













