{% extends 'base2.html' %}
{% load widget_tweaks %}
{% load staticfiles %}<em></em>
{% block container %}

	
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Registration Complete!</h2>
              <p>Thanks, we got you down. We'll see you on the street.</p>
            </div>
          </div>
        </div>
      </div>
    </section><em></em>

    {% block javascript_imports %}
	{% endblock %}
{% endblock %}













