{% extends 'thank_you.html' %}
{% block container %}
<div class="page-header">
  <h3>One more question, {{object.first_name}}</h3>
</div>

<form action="" method="post">{% csrf_token %}{% load widget_tweaks %}
    {% for field in form %}
        <div class="form-group">
            <label for="{{field.name}}">{{field.label}}</label>
            {{field.errors}}
            {{field|add_class:"form-control"}}
         </div>
        
    {% endfor %}
    <input class="btn btn-info" type="submit" name="save" value="Save" />
</form>

{% endblock %}