{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PHL NACCC">
    <meta name="author" content="Phila BMA">
	<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">

    <title>PHL NACCC</title>

    <!-- Bootstrap core CSS -->
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/one-page-wonder.css" %}" rel="stylesheet">
	<link href="{% static "css/base.css" %}" rel="stylesheet">

  </head>

  <body role="document">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">PHL NACCC 2018</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/racers/register">Register</a>
            </li>
           
		    <li class="nav-item">
              <a class="nav-link" href="/racers/registered">Racers</a>
            </li>
			
               <li class="nav-item">
                 <a class="nav-link" href="/contact">Contact</a>
               </li>
			   
          </ul>
        </div>
      </div>
    </nav>

<!-- this should go in the individual templates, right? -->
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
			
		    <div class="container theme-showcase" role="main">
		        {% if messages %}
		        {% for message in messages  %}
		            <div class="alert alert-{{message.tags}} alert-dismissable message-alert">
		              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		              {{ message }}
		            </div>
		        {% endfor %}
		        {% endif %}

		    </div> <!-- /container -->
			
			
            {% block container %}
        
            {% endblock %}
          
        </div>
      </div>
	  
    </header>
	
    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">&copy; Phila BMA 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/underscore.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    {% block javascript_imports %}
    {% endblock %}
  </body>
</html>