{% extends 'base.html' %}
{% block container %}
<ol class="breadcrumb">
  <li><a href="/"></a></li>
  <li class="active">Jobs</li>
</ol>
<div class="page-header">
  <h1>Jobs <small></small></h1>
</div>

<p><a href="/jobs/create/" class="btn btn-success">Add New Job</a></p>

<h2>Select a race</h2>
<div class="table-responsive">
<table class="table table-striped">
  <tr>
      <th>Race Name</th>
      <th>Number of Jobs</th>
  </tr>
      {% for race in races %}
          <tr>
              <td><a href="/jobs/race/{{race.id}}/">{{race.race_name}}</td>
               <td>{{race.num_jobs}}</td>
           </tr>
      {% empty %}
      <tr>
          <td colspan="7">No Jobs yet. <a href = "/jobs/create/">Make one!</a></td>
       </tr>
      {% endfor %}
</table>
</div>

{% endblock %}