{% extends 'base.html' %}
{% block container %}
<ol class="breadcrumb">
  <li><a href="/">NACCC PHL NACCC</a></li>
  <li><a href="/jobs/">Jobs</a></li>
  <li class="active">{{jobs.0.race}} Jobs</li>
</ol>
<div class="page-header">
  <h1>{{jobs.0.race}} Jobs <small>NACCC PHL NACCC</small></h1>
</div>

<p><a href="/jobs/create/" class="btn btn-success">Add New Job</a></p>

<div class="table-responsive">
<table class="table table-striped">
  <tr>
      <th>Job Number</th>
      <th>Pick Up</th>
      <th>Drop Off</th>
	  <th>Service</th>
      <th>Points</th>
      <th>Minutes Ready After Start</th>
	  <th>Ready Time</td>
  </tr>
      {% for job in jobs %}
          <tr>
              <td><a href="/jobs/details/{{job.id}}/">{{job.job_id}}</td>
              <td>{{job.pick_checkpoint}}</td>
              <td>{{job.drop_checkpoint}}</td>
			  <td>{{job.service}}</td>
              <td>{{job.points}}</td>
			  <td>{{job.minutes_ready_after_start}}</td>
			  <td>{{job.abosolute_ready_time}}</td>
           </tr>
      {% empty %}
      <tr>
          <td colspan="7">No Jobs yet. <a href = "/jobs/create/">Make one!</a></td>
       </tr>
      {% endfor %}
</table>
</div>

{% endblock %}