{% extends 'base.html' %}
{% load widget_tweaks %}
{% block container %}
<ol class="breadcrumb">
  <li><a href="/"></a></li>
  <li><a href="/jobs/">Jobs</a></li>
  <li><a href="/jobs/race/{{object.race.id}}/">{{object.race}} Jobs</a></li>
  <li><a href="/jobs/details/{{object.id}}/">{{object}}</a></li>
  <li class="active">Update {{object}}</li>
</ol>
<div class="page-header">
  <h1>Update Job <small></small></h1>
</div>

<form action="" method="post">{% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label for="{{field.name}}">{{field.label}}</label>
            {{field.errors}}
            {{field|add_class:"form-control"}}
         </div>
        
    {% endfor %}
    <input type="submit" value="Update {{object}}" class="btn btn-default"/>
</form>

{% endblock %}